config NO_GCC_OPT
       bool
       default n

config ID_STRING_LENGTH
       int "Max. identifier length (B)"
       default "16"
       
config DEBUG
	   bool "Debug support"
	   default y

menu "Hypervisor parameters"

config EARLY_KOUTPUT
       bool "Enable early XM output"
       default y

config SPARE_SCHEDULING
       bool "Enable spare time dynamic scheduling"
       default n

menu "Partition parameters"

config KSTACK_KB
       int "Kernel stack size (KB)"
       default "8"

endmenu

endmenu

source "Kconfig.ver"

if MMU
source "kernel/mmu/Kconfig"
endif

source "klibc/Kconfig"
source "devices/Kconfig"
source "objects/Kconfig"
